#bscResult {
    /* margin:0; */
}

.bscLine {
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.bscTotal {
    line-height: 1.5;
    border-bottom: 1px dashed #999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.bscRed {
    color: #f00;
}

.bscPrice {
    position: absolute;
    right: 0px;
    /* bottom: 5px; */
}

.bscPriceTotal {
    position: absolute;
    right: 0px;
    bottom: 2px;
    font-size: 150%;
}
